{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "Default": "Server=YOUR_PROVIDER;Database=YOUR_DB_NAME;Trusted_Connection=True;"
  }
}
